body {
  background-image: url("/dark_blue_gradient_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f8f9fa;
}

.card, .alert {
  background-color: rgba(255, 255, 255, 0.85);
}
